.mainForm{
	margin-top:60px;
	margin-left: 400px
}

.logsTable{
	width: 50%!important;
	text-align: center;
	margin-left: 300px;
}

.columnHead{
	color: blue;
}

.resultColumn{
	color:green;
}

.userColumn{
	color:blue;
}
.timeColumn{
	color:red;
}

.invalidExpression{
	width: 25%!important;
	margin-left:440px;
	height: 40px;
	text-align:center;
	display: none;
}