.mainForm{
	margin-top:40px;
	margin-left: 300px;
}

.textArea{
	float: left;
	text-align: center;
	width: 35%;
}

.calculateButton{
	float: left;
	margin-top: -8px;
	margin-left: 15px;
}
.logsTable{
	margin-top:70px!important;
	width: 50%!important;
	text-align: center;
	margin-left: 310px;
}

.columnHead{
	color: blue;
}

.resultColumn{
	color:green;
}

.userColumn{
	color:blue;
}
.timeColumn{
	color:black;
}

.invalidExpression{
	display: none;
    width: 20%;
    float: left;
    margin-top: -10px;
    color: red;
    margin-left: 10px;
    font-weight: bold;
}

.noteElement{
	color: gray!important;
	
}